html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
}

main {
    flex: 1;
    padding: 20px;
}

.navbar-nav {
    flex-direction: column;
}

.nav-link {
    padding: 10px 15px;
    color: #212529;
}

    .nav-link:hover {
        background-color: #e9ecef;
    }
