name: Build and deploy ASP.Net Core app to Azure Web App - TicketingSystem

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      # Am schimbat build-ul sa vizeze doar API-ul
      - name: Build with dotnet
        run: dotnet build TicketingSystem.API/TicketingSystem.API.csproj --configuration Release

      # Am schimbat publish-ul sa vizeze doar API-ul si am setat un folder de output curat
      - name: dotnet publish
        run: dotnet publish TicketingSystem.API/TicketingSystem.API.csproj -c Release -o ./output

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: net-app # Am scos punctul din nume pentru siguranta
          path: ./output

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_E0C8E9EA157C40AA809883D9EF36C810 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_039768693EF249F4A293964328D4C53C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D73AD0FCFD7F44FE86C44702384F917A }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'TicketingSystem'
          slot-name: 'Production'
          package: .
